<div class="container-fluid container-fluid-custom">
  <h1>
    Project description: <br>
  </h1>
  <h4>
    Developed a full-stack web application that allows users to create and manage sticky notes, and collaborate with other users. It is made with Node.Js, EJS & MongoDB. 
  </h4>
    <br>
    <h1>
    Features: 
    </h1>
    <h3>Frontend:</h3>
    <h4>
    • Login functionality using username and password. <br>
    • Admins can invite new users via an invite link. <br>
    • Users can create, edit, and delete their notes. <br>
    • User's homepage shows all their notes as well as public notes of other users.<br> 
    • Users can only see notes of other users which are marked as "public". <br>
    • Admin have the ability to view, add, edit, and delete all notes. <br>
    • Users can search any note based on title or description. <br>
    • Created a user-friendly and responsive user interface.
    </h4>
    <h3>Backend:</h3>
    <h4>
    • Developed a RESTful API to handle user registration and authentication. <br>
    • Implemented API endpoints for creating, updating, and deleting notes. <br>
    • The notes have a privacy setting (public or private). <br>
    • Admins have elevated permissions and can manage users and notes. <br>
    • Implemented user roles and role based access control (RBAC).
    </h4>
    <br>
    <a href="https://youtu.be/K0CAxCc0Q-0"><h1>Project demo</h1></a>
  </h1>
</div>
